* {
    font-family: 'SF Pro Display', sans-serif;
}

html, body {
    height: 100%;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

@import 'fonts/sfprodisplay-font';

@import 'libs/bootstrap-reboot.min';

@import 'base/variables';
@import 'base/button';
@import 'base/tab';

@import 'blocks/promo';
@import 'blocks/trial';
@import 'blocks/action';
@import 'blocks/skills';
@import 'blocks/demo';
@import 'blocks/price';
@import 'blocks/bio';
@import 'blocks/mission';
@import 'blocks/footer';
@import 'blocks/overlay';