@media (max-width: 1200px) {
    .mission {
        position: static;
        margin: 25px auto 0 auto;
        transform: none;
        padding-top: 25px;
        &__title {
            margin-top: 0px;
        }
    }
}

@media (max-width: 992px) {
    .mission {
        width: 510px;
        margin-top: 70px;
    }

}

@media (max-width: 768px) {
    .mission {
        height: 160px;
        margin-top: 10px;
        &__descr {
            font-size: 14px;
        }
    }
}

@media (max-width: 576px) {
    .mission {
        margin-top: 40px;
        height: 175px;
        padding: 10px 10px;
        border-top-right-radius: 30px;
        border-bottom-left-radius: 30px;
        width: calc(100% - 40px);
        &__title {
            font-size: 15px;
        }
        &__descr {
            font-size: 14px;
        }
    }
}