
@media (max-width: 992px) {
    .trial {
        padding-top: 165px;
        margin-top: 25px;
        height: 640px;
        &__text {
            width: 720px;
        }
    }
}

@media (max-width: 768px) {
    .trial {
        margin-top: -70px;
        height: 620px;
        &__text {
            width: 540px;
        }
        &__btn {
            width: 360px;
            font-size: 12px;
        }
    }
}

@media (max-width: 576px) {
    .trial {
        z-index: -10;
        margin-top: -120px;
        padding-top: 150px;
        .container {
            padding: 0 5px;
        }
        &__title {
            font-size: 17px;
        }
        &__text {
            width: 90%;
        }
        .trial__subtitle {
            font-size: 17px;
        }
        &__btn {
            margin-top: 15px;
            width: 270px;
            font-size: 12px;
        }
    }
}